**/crates/tool-whurl/requests/media-api
**/crates/tool-whurl/requests/sweet-spot
!.env.example
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
**/*.rs.bk
**/.vitepress/cache
**/.vitepress/dist
**/mutants.out*/
*-journal
*-shm
*-wal
*.coverprofile
*.db
*.db3
*.dll
*.dylib
*.exe
*.exe~
*.iws
*.lcov
*.log
*.out
*.pdb
*.pid
*.pid.lock
*.s3db
*.sdb
*.seed
*.sl3
*.so
*.sqlite
*.sqlite3
*.test
*.tgz
*.tsbuildinfo
.cache
.cache/
.data/
.docusaurus
.dynamodb/
.eh-export-data/
.eh-read-data/
.env
.env.*
.eslintcache
.firebase/
.fusebox/
.grunt
.idea/
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/.cache/.Apifox_Helper
.idea/ApifoxUploaderProjectSetting.xml
.idea/caches/build_file_checksums.ser
.idea/httpRequests
.idea/replstate.xml
.idea/sonarlint.xml # see https://community.sonarsource.com/t/is-the-file-idea-idea-idea-sonarlint-xml-intended-to-be-under-source-control/121119
.idea/sonarlint/
.idea_modules/
.lock-wscript
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.output
.parcel-cache
.pnp.*
.serverless/
.stylelintcache
.svelte-kit/
.temp
.template_made_using_*/
.tern-port
.test-files/*
.vite/
.vscode-test
.vuepress/dist
.yarn-integrity
.yarn/*
/target
atlassian-ide-plugin.xml
bower_components
build/Release
cmake-build-*/
com_crashlytics_export_strings.xml
coverage
coverage.*
crashlytics-build.properties
crashlytics.properties
debug
debug/
dist
dist/
fabric.properties
go.work
go.work.sum
http-client.private.env.json
jspm_packages/
lerna-debug.log*
lib-cov
logs
logs/
node_modules/
npm-debug.log*
out
out/
own_Luna.txt
pids
profile.cov
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
target
target/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
web_modules/
yarn-debug.log*
yarn-error.log*