**/*.rs.bk
**/mutants.out*/
*.coverprofile
*.dll
*.dylib
*.exe
*.exe~
*.iws
*.out
*.pdb
*.so
*.test
.env
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/httpRequests
.idea/replstate.xml
.idea/sonarlint.xml # see https://community.sonarsource.com/t/is-the-file-idea-idea-idea-sonarlint-xml-intended-to-be-under-source-control/121119
.idea/sonarlint/
.idea_modules/
/target
atlassian-ide-plugin.xml
cmake-build-*/
com_crashlytics_export_strings.xml
coverage.*
crashlytics-build.properties
crashlytics.properties
debug/
fabric.properties
go.work
go.work.sum
out/
profile.cov
target/
.idea/
.eh-read-data/
.eh-export-data/
.template_made_using_*/
.test-files/*
dist/